@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-7">
            <a href="/Home/Index"> Home </a>/ Register
        </div>
    </div>
</section>

@if (TempData["RoleName"].ToString() == "Parent" || TempData["RoleName"].ToString()=="Student" || TempData["RoleName"].ToString()=="Teacher")
{
    <div class="container-fluid container-fullw bg-white">
        <div class="row">         
           
            <p class="text-small center text-danger">@TempData["ValidationMessage"]</p>
            <div class="col-md-12">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <input asp-for="Input.UserId" type="hidden" value="@TempData["UserId"]" class="form-control" />
                    <h4>Create a new @TempData["RoleName"] account for @TempData["Fnames"] </h4>
                    <p class="text-blue">Click register the login details will be send automatically to the user's email</p>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" value="@TempData["Emails"]" class="form-control" readonly />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Input.Role"></label>
                            <input asp-for="Input.Role" value="@TempData["RoleName"]" class="form-control" readonly />
                            <span asp-validation-for="Input.Role" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" value="@TempData["Password"]" class="form-control" readonly />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" value="@TempData["Password"]" class="form-control" readonly />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">

                        <button type="submit" class="btn btn-primary next-step btn-wide pull-right">
                            Register & Continuing <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid container-fullw bg-white">
        <div class="row">
            <p class="text-small center text-danger">@TempData["ValidationMessage"]</p>
            <div class="col-md-12">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h4>Create a new @TempData["RoleName"] account for the system.</h4>
                    <p class="text-blue">Click register the login details will be send automatically to the user's email</p>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" value="@TempData["Emails"]" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Input.Role"></label>
                            <input asp-for="Input.Role" value="@TempData["RoleName"]" class="form-control" readonly />
                            <span asp-validation-for="Input.Role" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" value="@TempData["Password"]" class="form-control"  />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" value="@TempData["Password"]" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary next-step btn-wide pull-right">
                            Register <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
