

@model SchoolManagementSystem.Shared.StudentViewModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-7">
            <a href="/Student/List"> Student List </a>/ Student Details
        </div>
    </div>
</section>



<div class="container-fluid container-fullw bg-white">
    <div class="row">
        @using (Html.BeginForm("Create", "Student", new { @class = "smart-wizard", role = "form" }))
        {
            <div class="row">
                <p class="text-large center text-danger">View Student Details</p>
                <div class="col-md-6">
                    <fieldset>
                        <legend>
                            Personal Information
                        </legend>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            Firstname*
                                        </label>
                                        @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control", required = true, @readonly = "readonly" })

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            Middlename*
                                        </label>
                                        @Html.TextBoxFor(m => m.Midname, new { @class = "form-control", required = true, @readonly="readonly" })

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label ">
                                            Surname *
                                        </label>
                                        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", required = true, @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            Gender *
                                        </label>
                                        @Html.DropDownListFor(model => model.Gender, new List<SelectListItem>()
                                          {
                                             new SelectListItem() { Text = "Female", Value = "Female" },
                                             new SelectListItem() { Text = "Male", Value = "Male"}
                                          }, "Select Gender", new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            IsAfrican
                                        </label>
                                        @Html.DropDownListFor(model => model.IsSouthAfrican, new List<SelectListItem>()
                                        {
                                           new SelectListItem() { Text = "Yes", Value = "1" },
                                           new SelectListItem() { Text = "No", Value = "0"}
                                        }, "IsAfrican?", new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            ID/Passport
                                        </label>
                                        @Html.TextBoxFor(m => m.IdOrPassport, new { @class = "form-control", required = true, @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            Date of Birth*
                                        </label>
                                        @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control datepicker", required = true, @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            CountryOfBirth*
                                        </label>
                                        @Html.DropDownListFor(model => model.CountryOfBirth, new List<SelectListItem>()
                                         {
                                            new SelectListItem() { Text = "South Africa", Value = "SouthAfrica" },
                                            new SelectListItem() { Text = "Nigeria", Value = "Nigeria"},
                                            new SelectListItem() { Text = "Ghana", Value = "Ghana" },
                                            new SelectListItem() { Text = "Egypt", Value = "Egypt."},
                                             new SelectListItem() { Text = "Other", Value = "Other"}
                                         }, "Country of Birth", new { @class = "form-control", @readonly = "readonly" })

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            Title
                                        </label>
                                        @Html.DropDownListFor(model => model.Title, new List<SelectListItem>()
                                            {
                                               new SelectListItem() { Text = "Mr.", Value = "Mr." },
                                               new SelectListItem() { Text = "Mrs.", Value = "Mrs"},
                                               new SelectListItem() { Text = "Miss.", Value = "Miss" },
                                            }, "Select Title", new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            IsDisable
                                        </label>
                                        @Html.DropDownListFor(model => model.IsDisable, new List<SelectListItem>()
                                        {
                                           new SelectListItem() { Text = "Yes", Value = "Yes" },
                                           new SelectListItem() { Text = "No", Value = "No"},
                                            new SelectListItem() { Text = "Other", Value = "Other"}
                                        }, "Select IsDisable", new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>

                    <fieldset>
                        <legend>
                            Physical Information
                        </legend>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>
                                        Address Line 1*
                                    </label>
                                    @Html.TextBoxFor(m => m.PhysicalAddress, new { @class = "form-control", required = true, @readonly = "readonly" })
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>
                                        Country
                                    </label>
                                    @Html.TextBoxFor(m => m.PhysicalCountry, new { @class = "form-control", required = true, @readonly = "readonly" })                                  
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        Province
                                    </label>
                                    @Html.TextBoxFor(m => m.PhysicalProvince, new { @class = "form-control", required = true, @readonly = "readonly" })
                               
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        City
                                    </label>
                                    @Html.TextBoxFor(m => m.PhysicalCity, new { @class = "form-control", required = true, @readonly = "readonly" })
                                   
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        Street Number
                                    </label>
                                    @Html.TextBoxFor(m => m.PhysicalAddressLine2, new { @class = "form-control", required = true, @readonly = "readonly" })
                             
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        Street Name
                                    </label>
                                    @Html.TextBoxFor(m => m.PhysicalAddressLine3, new { @class = "form-control", required = true, @readonly = "readonly" })
                                  
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        OtherAddress
                                    </label>
                                    @Html.TextBoxFor(m => m.PhysicalOther, new { @class = "form-control", required = true, @readonly = "readonly" })
                                
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        Postal Code*
                                    </label>                                 
                                    @Html.TextBoxFor(m => m.PhysicalPostalCode, new { @class = "form-control", required = true, @readonly = "readonly" })
                                </div>
                            </div>
                        </div><br />
                    </fieldset>


                </div>



                <div class="col-md-6">

                    <fieldset>
                        <legend>
                            Contact Information
                        </legend>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>
                                            CellNr *
                                        </label>
                                        @Html.TextBoxFor(m => m.CelPhoneNumber, new { @class = "form-control", type = "number", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            TelNr
                                        </label>
                                        @Html.TextBoxFor(m => m.HomeTelNumber, new { @class = "form-control", type = "number", @readonly = "readonly" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="block">
                                            Email Address
                                        </label>
                                        @Html.TextBoxFor(m => m.PersonalEmailAddress, new { @class = "form-control", type = "text", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            Parent 1 CellNr
                                        </label>
                                        @Html.TextBoxFor(m => m.WorkTelNumber, new { @class = "form-control", type = "number", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            Parent 2 CellNr
                                        </label>
                                        @Html.TextBoxFor(m => m.FaxNumber, new { @class = "form-control", type = "number", @readonly = "readonly" })
                                        @*@Html.DropDownList("CommunicationMethodRefNo", Html.GetEnumSelectList<FuneralManagementSystem.Models.CommonDropdownbox.CommunicationMethod>(), "Communication Method", new { @class = "form-control" })*@
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>
                                            Preferred Language
                                        </label>
                                        @Html.DropDownListFor(model => model.PreferedLanguage, new List<SelectListItem>()
                                     {
                                        new SelectListItem() { Text = "English", Value = "English" },
                                        new SelectListItem() { Text = "Swahili", Value = "Swahili"},
                                        new SelectListItem() { Text = "Omoro", Value = "Omoro"},
                                        new SelectListItem() { Text = "Zulu", Value = "Zulu"},
                                        new SelectListItem() { Text = "Hausa", Value = "Hausa"},
                                         new SelectListItem() { Text = "Other", Value = "Other"}
                                     }, "Prefered Language", new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Communication Method
                                        </label>
                                        @Html.DropDownListFor(model => model.CommunicationMethod, new List<SelectListItem>()
                                      {
                                         new SelectListItem() { Text = "Email", Value = "Email" },
                                         new SelectListItem() { Text = "Phone", Value = "Phone"},
                                          new SelectListItem() { Text = "Call", Value = "Call"},
                                          new SelectListItem() { Text = "Other", Value = "Other"}
                                      }, "Communication Method", new { @class = "form-control", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>
                            Postal Information
                        </legend>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>
                                        IsPostalSameAsPhysical
                                    </label>
                                    @Html.DropDownListFor(model => model.IsPostalSameAsPhysical, new List<SelectListItem>()
                                        {
                                           new SelectListItem() { Text = "Yes", Value = "True" },
                                           new SelectListItem() { Text = "No", Value = "False"}
                                        }, "Select.....", new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label>
                                        Address Line 1*
                                    </label>
                                    @Html.TextBoxFor(m => m.PostalAddress, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>
                                        Country
                                    </label>
                                    @Html.TextBoxFor(m => m.PostalCountry, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        Province
                                    </label>
                                    @Html.TextBoxFor(m => m.PostalProvince, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>
                                        City
                                    </label>
                                    @Html.TextBoxFor(m => m.PostalCity, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>
                                        Region
                                    </label>
                                    @Html.TextBoxFor(m => m.PostalRegion, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        Street Number
                                    </label>
                                    @Html.TextBoxFor(m => m.PostalAddressLine2, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        Street Name
                                    </label>
                                    @Html.TextBoxFor(m => m.PostalAddressLine3, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        OtherAddress
                                    </label>
                                    @Html.TextBoxFor(m => m.PostalAddress, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        Postal Code*
                                    </label>
                                    @Html.TextBoxFor(m => m.PostalPostalCode, new { @class = "form-control", @readonly = "readonly" })
                                    @*@Html.TextBoxFor(m => m.PhysicalPostalCode, new { @class = "form-control", required = true, type = "number" })*@
                                </div>
                            </div>
                        </div><br />
                    </fieldset>
                </div>
            </div>
        }
    </div>
</div>
