

@model SchoolManagementSystem.UI.Models.StudentViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section id="page-title" class="padding-top-15 padding-bottom-15">
    <div class="row">
        <div class="col-sm-7">
            <a href="/Student/List"> Student List </a>/ Student Edit
        </div>
    </div>
</section>


<div class="container-fluid container-fullw bg-white">
    <div class="row">

        @using (Html.BeginForm("Edit", "Student", new { @class = "smart-wizard", role = "form" }))
        {

            <div class="row">
                <div class="col-md-6">
                    <fieldset>


                        <legend>
                            Personal Information
                        </legend>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            Firstname*
                                        </label>
                                        @Html.TextBoxFor(m => m.Firstname, new { @class = "form-control", required = true })

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            Middlename*
                                        </label>
                                        @Html.TextBoxFor(m => m.Midname, new { @class = "form-control", required = true })

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label ">
                                            Surname *
                                        </label>
                                        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", required = true })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            Gender *
                                        </label>
                                        @Html.DropDownListFor(model => model.Gender, new List<SelectListItem>()
                                          {
                                             new SelectListItem() { Text = "Female", Value = "Female" },
                                             new SelectListItem() { Text = "Male", Value = "Male"}
                                          }, "Select Gender", new { @class = "form-control" })
                                        @*@Html.DropDownList("Gender", Html.GetEnumSelectList<FuneralManagementSystem.Models.CommonDropdownbox.Gender>(), "Select Gender", new { @class = "form-control" })*@
                                        @*<select id="Gender" name="Gender" class="form-control" required></select>*@
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            IsSouthAfrican
                                        </label>
                                        @Html.DropDownListFor(model => model.IsSouthAfrican, new List<SelectListItem>()
                                        {
                                           new SelectListItem() { Text = "Yes", Value = "True" },
                                           new SelectListItem() { Text = "No", Value = "False"}
                                        }, "Select.....", new { @class = "form-control" })

                                        @*@Html.DropDownList("IsSouthAfrican", Html.GetEnumSelectList<FuneralManagementSystem.Models.CommonDropdownbox.IsSouthAfrican>(), "Is SouthAfrican", new { @class = "form-control" })*@
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            ID/Passport
                                        </label>
                                        @Html.TextBoxFor(m => m.PassportNo, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            Date of Birth*
                                        </label>
                                        @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control datepicker" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            CountryOfBirth*
                                        </label>
                                        <select id="CountryOfBirthId" name="CountryOfBirthId" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            Title*
                                        </label>
                                        @Html.DropDownListFor(model => model.Title, new List<SelectListItem>()
                                            {
                                               new SelectListItem() { Text = "Mr.", Value = "Mr." },
                                               new SelectListItem() { Text = "Mrs.", Value = "Mrs"},
                                               new SelectListItem() { Text = "Miss.", Value = "Miss" },
                                               new SelectListItem() { Text = "Prof.", Value = "Pro."},
                                                new SelectListItem() { Text = "Dr.", Value = "Dr."},
                                                new SelectListItem() { Text = "Other", Value = "Other"}
                                            }, "Select Title", new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            Marital Status*
                                        </label>
                                        @Html.DropDownListFor(model => model.MaritalStatus, new List<SelectListItem>()
                                        {
                                           new SelectListItem() { Text = "Single", Value = "Single" },
                                           new SelectListItem() { Text = "Married", Value = "Married"},
                                           new SelectListItem() { Text = "Widowed", Value = "Widowed" },
                                           new SelectListItem() { Text = "Separated", Value = "Separated"},
                                            new SelectListItem() { Text = "Divorced", Value = "Divorced"},
                                            new SelectListItem() { Text = "Other", Value = "Other"}
                                        }, "Select MaritalStatus", new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>

                    <fieldset>
                        <legend>
                            Physical Information
                        </legend>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>
                                        Address Line 1*
                                    </label>
                                    <input id="autocomplete" name="PhysicalAddress" placeholder="Enter your address" onFocus="geolocate()" type="text" class="form-control" required />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>
                                        Country
                                    </label>
                                    <input id="country" name="PhysicalCountry" disabled class="form-control" required readonly />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        Province
                                    </label>
                                    <input class="form-control" name="PhysicalProvince" id="administrative_area_level_1" disabled readonly />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        City
                                    </label>
                                    <input class="form-control" name="PhysicalCity" id="locality" disabled required readonly />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        Street Number
                                    </label>
                                    <input id="street_number" name="PhysicalAddressLine2" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        Street Name
                                    </label>
                                    <input id="route" name="PhysicalAddressLine3" class="form-control" disabled />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        OtherAddress
                                    </label>
                                    @Html.TextBoxFor(m => m.PhysicalOther, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        Postal Code*
                                    </label>
                                    <input id="postal_code" name="PhysicalPostalCode" class="form-control" disabled readonly />
                                    @*@Html.TextBoxFor(m => m.PhysicalPostalCode, new { @class = "form-control", required = true, type = "number" })*@
                                </div>
                            </div>
                        </div><br />
                    </fieldset>


                </div>



                <div class="col-md-6">

                    <fieldset>
                        <legend>
                            Contact Information
                        </legend>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>
                                            CellNr *
                                        </label>
                                        @Html.TextBoxFor(m => m.CelPhoneNumber, new { @class = "form-control", type = "number" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            TelNr
                                        </label>
                                        @Html.TextBoxFor(m => m.HomeTelNumber, new { @class = "form-control", type = "number" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="block">
                                            Email Address
                                        </label>
                                        @Html.TextBoxFor(m => m.PersonalEmailAddress, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            WorkTel
                                        </label>
                                        @Html.TextBoxFor(m => m.WorkTelNumber, new { @class = "form-control", type = "number" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>
                                            Fax
                                        </label>
                                        @Html.TextBoxFor(m => m.FaxNumber, new { @class = "form-control", type = "number" })
                                        @*@Html.DropDownList("CommunicationMethodRefNo", Html.GetEnumSelectList<FuneralManagementSystem.Models.CommonDropdownbox.CommunicationMethod>(), "Communication Method", new { @class = "form-control" })*@
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>
                                            Preferred Language
                                        </label>
                                        @Html.TextBoxFor(m => m.StudentNumber, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">
                                            Communication Method
                                        </label>
                                        @*@Html.TextBoxFor(m => m.ContactPersonCelNr, new { @class = "form-control" })*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>
                            Postal Information
                        </legend>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>
                                        IsPostalSameAsPhysical
                                    </label>
                                    @Html.DropDownListFor(model => model.IsPostalSameAsPhysical, new List<SelectListItem>()
                                        {
                                           new SelectListItem() { Text = "Yes", Value = "True" },
                                           new SelectListItem() { Text = "No", Value = "False"}
                                        }, "Select.....", new { @class = "form-control" })

                                    @*@Html.DropDownList("IsPostalSameAsPhysical", Html.GetEnumSelectList<FuneralManagementSystem.Models.CommonDropdownbox.IsPostalSameAsPhysical>(), "IsPostalSameAsPhysical", new { @class = "form-control" })*@
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label>
                                        Address Line 1*
                                    </label>
                                    @Html.TextBoxFor(m => m.PostalAddress, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>
                                        Country
                                    </label>
                                    @Html.TextBoxFor(m => m.PostalCountry, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        Province
                                    </label>
                                    @Html.TextBoxFor(m => m.PostalProvince, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>
                                        City
                                    </label>
                                    @Html.TextBoxFor(m => m.PostalCity, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>
                                        Region
                                    </label>
                                    @Html.TextBoxFor(m => m.PostalRegion, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        Street Number
                                    </label>
                                    @Html.TextBoxFor(m => m.PostalAddressLine2, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        Street Name
                                    </label>
                                    @Html.TextBoxFor(m => m.PostalAddressLine3, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        OtherAddress
                                    </label>
                                    @Html.TextBoxFor(m => m.PostalAddress, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">
                                        Postal Code*
                                    </label>
                                    @Html.TextBoxFor(m => m.PostalPostalCode, new { @class = "form-control" })
                                    @*@Html.TextBoxFor(m => m.PhysicalPostalCode, new { @class = "form-control", required = true, type = "number" })*@
                                </div>
                            </div>
                        </div><br />
                    </fieldset>
                </div>
            </div>
        }
    </div>
</div>
<script src="~/Scripts/GetTheAddress.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtc20pt9oDAG-NX1ktEYrtyCZ0mA-7tK8&libraries=places&callback=initAutocomplete" async defer></script>
